addict==2.4.0
altgraph==0.17.2
anyio==3.3.0
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1636021380558/work
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach==4.1.0
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012188166/work
CacheControl==0.12.6
cachy==0.3.0
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1635814844635/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
cleo==0.8.1
clikit==0.6.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
crashtest==0.3.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637648687087/work
cx-Freeze @ file:///home/conda/feedstock_root/build_artifacts/cx_freeze_1637687474164/work
cycler==0.10.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043259437/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.3
e==1.4.5
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.3.0
html5lib==1.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1636431522037/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1636998258036/work/dist/ipykernel-6.5.0-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1636764709761/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
jedi==0.18.0
jeepney==0.7.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib==1.0.1
json5==0.9.6
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1636165360877/work
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1637233111631/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1636814262349/work
jupyter-packaging==0.10.4
jupyter-server==1.10.2
jupyterlab==3.1.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
keyring==21.8.0
MarkupSafe==2.0.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune==0.8.4
msgpack==1.0.2
nbclassic==0.3.1
nbclient==0.5.4
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1636897218307/work
nbformat==5.1.3
nest-asyncio==1.5.1
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1636145332760/work
open3d==0.13.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.4
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso==0.8.2
pastel==0.2.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.7.1
platformdirs==2.4.0
plyfile @ file:///home/conda/feedstock_root/build_artifacts/plyfile_1620011294388/work
poetry==1.1.11
poetry-core==1.0.7
probreg==0.3.4
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pybind11==2.7.1
pycparser==2.20
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pylev==1.4.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.18.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404924/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1636139793187/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1635877406326/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1637705715504/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1632440819550/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-toolbelt==0.9.1
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1636784024552/work
scipy==1.7.1
SecretStorage==3.3.1
Send2Trash==1.8.0
shellingham==1.4.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.2.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1636052221351/work
testpath==0.5.0
threadpoolctl==2.2.0
tomlkit==0.7.2
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
transforms3d==0.3.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
widgetsnbextension==3.5.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
